/*All pages baseline css*/
body {
    background-color: rgba(0, 0, 0, 0.89);
}

h1 {
    background-color: red;
    color: white;
    text-align: center;
}
h2{
    color: white;
}
p {
    color: white;
}
ul {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
ul li {
    font-weight: 600;
    color: white;
    display: inline-block;
    align-items: center;
}
ol {
    color: white;
}

a {
    color: rgb(92, 68, 201);
}

/*Images resized on index*/

#grilledCheese {
    width: 300px;
    height: auto;
}
#eggSalad {
    width: 200px;
    height: auto;
}
#pastaSalad {
    width: 300px;
    height: auto;
}

/*Images resized and centered on recipe pages*/

#grilledCheeseRecipe {
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#eggSaladRecipe {
    width: 250px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#pastaSaladRecipe {
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Recipe/ingredients lists styled */

.ingredients {
    color: orange;
    display: inherit;
    
}